<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
   <title>受講生一覧</title>
</head>
<body>
<h1>受講生一覧</h1>
<table border="1">
    <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>カナ名</th>
      <th>ニックネーム</th>
      <th>メールアドレス</th>
      <th>地域</th>
      <th>年齢</th>
      <th>性別</th>
      <th>備考</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="studentDetail : ${studentList}">
      <td th:text="${studentDetail.student.studentId}">1</td>
      <td th:text="${studentDetail.student.name}">伊東 剛</td>
      <td th:text="${studentDetail.student.kanaName}">いとうつよし</td>
      <td th:text="${studentDetail.student.nickname}">つよぽん</td>
      <td th:text="${studentDetail.student.email}">tsuyoshi@example.com</td>
      <td th:text="${studentDetail.student.area}">東京都</td>
      <td th:text="${studentDetail.student.age}">36</td>
      <td th:text="${studentDetail.student.gender}">男</td>
      <td th:text="${studentDetail.student.remark}">特になし</td>

    </tr>
    <tr th:each="studentDetail : ${studentList}">
        <td th:text="${studentDetail.student.studentId}">2</td>
        <td th:text="${studentDetail.student.name}">筒井 あやめ</td>
        <td th:text="${studentDetail.student.kanaName}">つついあやめ</td>
        <td th:text="${studentDetail.student.nickname}">あやめん</td>
        <td th:text="${studentDetail.student.email}">ayame@example.com</td>
        <td th:text="${studentDetail.student.area}">愛知県</td>
        <td th:text="${studentDetail.student.age}">21</td>
        <td th:text="${studentDetail.student.gender}">女</td>
        <td th:text="${studentDetail.student.remark}">特になし</td>

    </tr>
    <tr th:each="studentDetail : ${studentList}">
        <td th:text="${studentDetail.student.studentId}">3</td>
        <td th:text="${studentDetail.student.name}">遠藤 さくら</td>
        <td th:text="${studentDetail.student.kanaName}">えんどうさくら</td>
        <td th:text="${studentDetail.student.nickname}">さくちゃん</td>
        <td th:text="${studentDetail.student.email}">sakura@example.com</td>
        <td th:text="${studentDetail.student.area}">愛知県</td>
        <td th:text="${studentDetail.student.age}">23</td>
        <td th:text="${studentDetail.student.gender}">女</td>
        <td th:text="${studentDetail.student.remark}">特になし</td>

    </tr>
    <tr th:each="studentDetail : ${studentList}">
        <td th:text="${studentDetail.student.studentId}">4</td>
        <td th:text="${studentDetail.student.name}">小川 彩</td>
        <td th:text="${studentDetail.student.kanaName}">おがわあや</td>
        <td th:text="${studentDetail.student.nickname}">あーや</td>
        <td th:text="${studentDetail.student.email}">aya@example.com</td>
        <td th:text="${studentDetail.student.area}">千葉県</td>
        <td th:text="${studentDetail.student.age}">18</td>
        <td th:text="${studentDetail.student.gender}">女</td>
        <td th:text="${studentDetail.student.remark}">特になし</td>

    </tr>
    </tbody>
</table>
</body>
</html>